--
-- PostgreSQL database dump
--

\restrict 9NGogtGAVEoK0CwcYFhbncf0DzcUYgFlkzrxL081ONUEVieL4djuYyQWPiD34UA

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: administradores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.administradores (
    id uuid NOT NULL,
    cargo character varying(100),
    codigo_admin character varying(50) NOT NULL
);


ALTER TABLE public.administradores OWNER TO postgres;

--
-- Name: asistencias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.asistencias (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    estudiante_id uuid NOT NULL,
    materia_id uuid NOT NULL,
    fecha date DEFAULT CURRENT_DATE NOT NULL,
    estado character varying(1) NOT NULL,
    observacion character varying(200),
    CONSTRAINT asistencias_estado_check CHECK (((estado)::text = ANY ((ARRAY['P'::character varying, 'A'::character varying, 'J'::character varying, 'T'::character varying])::text[])))
);


ALTER TABLE public.asistencias OWNER TO postgres;

--
-- Name: auditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid,
    operacion character varying(10) NOT NULL,
    tabla_afectada character varying(50) NOT NULL,
    descripcion text,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    ip_address character varying(45)
);


ALTER TABLE public.auditoria OWNER TO postgres;

--
-- Name: auditoria_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria_log (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid NOT NULL,
    usuario_nombre character varying(255) NOT NULL,
    accion character varying(20) NOT NULL,
    entidad character varying(50) NOT NULL,
    entidad_id uuid,
    descripcion text,
    fecha timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.auditoria_log OWNER TO postgres;

--
-- Name: calificaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.calificaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    estudiante_id uuid NOT NULL,
    materia_id uuid NOT NULL,
    docente_id uuid NOT NULL,
    valor numeric(4,2) NOT NULL,
    tipo character varying(30) NOT NULL,
    periodo character varying(20),
    fecha_registro date DEFAULT CURRENT_DATE NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    CONSTRAINT calificaciones_valor_check CHECK (((valor >= (0)::numeric) AND (valor <= (10)::numeric)))
);


ALTER TABLE public.calificaciones OWNER TO postgres;

--
-- Name: comunicados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comunicados (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    titulo character varying(200) NOT NULL,
    contenido text NOT NULL,
    remitente_id uuid NOT NULL,
    destinatario_rol character varying(30),
    fecha_envio timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.comunicados OWNER TO postgres;

--
-- Name: docentes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.docentes (
    id uuid NOT NULL,
    titulo character varying(100) NOT NULL,
    especialidad character varying(100) NOT NULL,
    telefono character varying(20),
    cedula character varying(20) NOT NULL
);


ALTER TABLE public.docentes OWNER TO postgres;

--
-- Name: estudiantes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estudiantes (
    id uuid NOT NULL,
    fecha_nacimiento date,
    direccion character varying(200),
    telefono character varying(20),
    numero_matricula character varying(20),
    representante_id uuid,
    codigo character varying(50) NOT NULL,
    nivel character varying(20) NOT NULL,
    seccion character varying(10) NOT NULL
);


ALTER TABLE public.estudiantes OWNER TO postgres;

--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


ALTER TABLE public.flyway_schema_history OWNER TO postgres;

--
-- Name: horarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.horarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    docente_id uuid NOT NULL,
    materia_id uuid NOT NULL,
    dia_semana character varying(15) NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fin time without time zone NOT NULL,
    aula character varying(20),
    periodo character varying(20) NOT NULL
);


ALTER TABLE public.horarios OWNER TO postgres;

--
-- Name: materias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materias (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre character varying(100) NOT NULL,
    codigo character varying(20) NOT NULL,
    nivel character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    creditos integer NOT NULL,
    docente_id uuid
);


ALTER TABLE public.materias OWNER TO postgres;

--
-- Name: matriculas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matriculas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    estudiante_id uuid NOT NULL,
    periodo character varying(20) NOT NULL,
    fecha_matricula timestamp without time zone DEFAULT now() NOT NULL,
    estado character varying(20) DEFAULT 'ACTIVA'::character varying NOT NULL,
    observaciones text
);


ALTER TABLE public.matriculas OWNER TO postgres;

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notificaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    destinatario_id uuid NOT NULL,
    tipo character varying(50) NOT NULL,
    mensaje character varying(500) NOT NULL,
    referencia_id uuid,
    leida boolean DEFAULT false NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO postgres;

--
-- Name: recursos_pedagogicos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recursos_pedagogicos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text,
    nombre_archivo character varying(255) NOT NULL,
    nombre_archivo_minio character varying(255) NOT NULL,
    tipo_archivo character varying(100),
    tamano_bytes bigint,
    materia_id uuid NOT NULL,
    docente_id uuid NOT NULL,
    fecha_publicacion timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recursos_pedagogicos OWNER TO postgres;

--
-- Name: representantes_legales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.representantes_legales (
    id uuid NOT NULL,
    telefono character varying(20),
    parentesco character varying(50),
    relacion_con_estudiante character varying(50) NOT NULL,
    estudiante_id uuid
);


ALTER TABLE public.representantes_legales OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(150) NOT NULL,
    password_hash character varying(255) NOT NULL,
    rol character varying(30) NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    intentos_fallidos integer DEFAULT 0 NOT NULL,
    bloqueado_hasta timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Data for Name: administradores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.administradores (id, cargo, codigo_admin) FROM stdin;
\.


--
-- Data for Name: asistencias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.asistencias (id, estudiante_id, materia_id, fecha, estado, observacion) FROM stdin;
\.


--
-- Data for Name: auditoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auditoria (id, usuario_id, operacion, tabla_afectada, descripcion, fecha, ip_address) FROM stdin;
\.


--
-- Data for Name: auditoria_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auditoria_log (id, usuario_id, usuario_nombre, accion, entidad, entidad_id, descripcion, fecha) FROM stdin;
\.


--
-- Data for Name: calificaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comunicados; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: docentes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.docentes (id, titulo, especialidad, telefono, cedula) FROM stdin;
4d2d94e3-6be3-4fb7-8618-58668ecb1838	Lic. en Matematicas	Matematicas	\N	0912345678
\.


--
-- Data for Name: estudiantes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: horarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.horarios (id, docente_id, materia_id, dia_semana, hora_inicio, hora_fin, aula, periodo) FROM stdin;
\.


--
-- Data for Name: materias; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.materias (id, nombre, codigo, nivel, created_at, creditos, docente_id) FROM stdin;
101bf2b6-7e75-4e51-abec-ecc67f8fb469	Matematicas	MAT-001	3┬░	2026-06-29 09:15:05.007092	1	\N
\.


--
-- Data for Name: matriculas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.matriculas (id, estudiante_id, periodo, fecha_matricula, estado, observaciones) FROM stdin;
\.


--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recursos_pedagogicos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recursos_pedagogicos (id, titulo, descripcion, nombre_archivo, nombre_archivo_minio, tipo_archivo, tamano_bytes, materia_id, docente_id, fecha_publicacion) FROM stdin;
23c45a6f-f092-456c-8080-0c4509c9a884	Recurso de prueba ensayo	\N	boletin_ensayo2.pdf	3e3ea592-8c20-41ee-b18b-d28d8d5d7cf0_boletin_ensayo2.pdf	application/pdf	1192	101bf2b6-7e75-4e51-abec-ecc67f8fb469	4d2d94e3-6be3-4fb7-8618-58668ecb1838	2026-06-29 05:41:22.636592
\.


--
-- Data for Name: representantes_legales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.representantes_legales (id, telefono, parentesco, relacion_con_estudiante, estudiante_id) FROM stdin;
9792ba1e-95b9-4f5b-9cbc-e6d65bcda20e	0991234567	Madre	Madre	221a0592-d256-42c8-bcc5-f16ad22c0a0a
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: administradores administradores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administradores
    ADD CONSTRAINT administradores_pkey PRIMARY KEY (id);


--
-- Name: asistencias asistencias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_pkey PRIMARY KEY (id);


--
-- Name: auditoria_log auditoria_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_log
    ADD CONSTRAINT auditoria_log_pkey PRIMARY KEY (id);


--
-- Name: auditoria auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_pkey PRIMARY KEY (id);


--
-- Name: calificaciones calificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calificaciones
    ADD CONSTRAINT calificaciones_pkey PRIMARY KEY (id);


--
-- Name: comunicados comunicados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comunicados
    ADD CONSTRAINT comunicados_pkey PRIMARY KEY (id);


--
-- Name: docentes docentes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_pkey PRIMARY KEY (id);


--
-- Name: estudiantes estudiantes_numero_matricula_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_numero_matricula_key UNIQUE (numero_matricula);


--
-- Name: estudiantes estudiantes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: horarios horarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios
    ADD CONSTRAINT horarios_pkey PRIMARY KEY (id);


--
-- Name: materias materias_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materias
    ADD CONSTRAINT materias_codigo_key UNIQUE (codigo);


--
-- Name: materias materias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materias
    ADD CONSTRAINT materias_pkey PRIMARY KEY (id);


--
-- Name: matriculas matriculas_estudiante_id_periodo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matriculas
    ADD CONSTRAINT matriculas_estudiante_id_periodo_key UNIQUE (estudiante_id, periodo);


--
-- Name: matriculas matriculas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matriculas
    ADD CONSTRAINT matriculas_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: recursos_pedagogicos recursos_pedagogicos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recursos_pedagogicos
    ADD CONSTRAINT recursos_pedagogicos_pkey PRIMARY KEY (id);


--
-- Name: representantes_legales representantes_legales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_legales
    ADD CONSTRAINT representantes_legales_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_asistencias_estudiante; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_asistencias_estudiante ON public.asistencias USING btree (estudiante_id, fecha);


--
-- Name: idx_auditoria_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_auditoria_fecha ON public.auditoria_log USING btree (fecha DESC);


--
-- Name: idx_calificaciones_estudiante; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_calificaciones_estudiante ON public.calificaciones USING btree (estudiante_id);


--
-- Name: idx_horarios_docente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_horarios_docente ON public.horarios USING btree (docente_id);


--
-- Name: idx_matriculas_estudiante; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_matriculas_estudiante ON public.matriculas USING btree (estudiante_id);


--
-- Name: idx_matriculas_periodo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_matriculas_periodo ON public.matriculas USING btree (periodo);


--
-- Name: idx_notificaciones_destinatario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificaciones_destinatario ON public.notificaciones USING btree (destinatario_id);


--
-- Name: idx_usuarios_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_email ON public.usuarios USING btree (email);


--
-- Name: administradores administradores_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.administradores
    ADD CONSTRAINT administradores_id_fkey FOREIGN KEY (id) REFERENCES public.usuarios(id);


--
-- Name: asistencias asistencias_estudiante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_estudiante_id_fkey FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id);


--
-- Name: asistencias asistencias_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id);


--
-- Name: auditoria_log auditoria_log_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_log
    ADD CONSTRAINT auditoria_log_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: auditoria auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: calificaciones calificaciones_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calificaciones
    ADD CONSTRAINT calificaciones_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: calificaciones calificaciones_estudiante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calificaciones
    ADD CONSTRAINT calificaciones_estudiante_id_fkey FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id);


--
-- Name: calificaciones calificaciones_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.calificaciones
    ADD CONSTRAINT calificaciones_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id);


--
-- Name: comunicados comunicados_remitente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comunicados
    ADD CONSTRAINT comunicados_remitente_id_fkey FOREIGN KEY (remitente_id) REFERENCES public.usuarios(id);


--
-- Name: docentes docentes_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.docentes
    ADD CONSTRAINT docentes_id_fkey FOREIGN KEY (id) REFERENCES public.usuarios(id);


--
-- Name: estudiantes estudiantes_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT estudiantes_id_fkey FOREIGN KEY (id) REFERENCES public.usuarios(id);


--
-- Name: estudiantes fk_estudiante_representante; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudiantes
    ADD CONSTRAINT fk_estudiante_representante FOREIGN KEY (representante_id) REFERENCES public.usuarios(id);


--
-- Name: materias fk_materia_docente; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materias
    ADD CONSTRAINT fk_materia_docente FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: representantes_legales fk_representante_estudiante; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_legales
    ADD CONSTRAINT fk_representante_estudiante FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id);


--
-- Name: horarios horarios_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios
    ADD CONSTRAINT horarios_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.docentes(id);


--
-- Name: horarios horarios_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.horarios
    ADD CONSTRAINT horarios_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id);


--
-- Name: matriculas matriculas_estudiante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matriculas
    ADD CONSTRAINT matriculas_estudiante_id_fkey FOREIGN KEY (estudiante_id) REFERENCES public.estudiantes(id);


--
-- Name: notificaciones notificaciones_destinatario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_destinatario_id_fkey FOREIGN KEY (destinatario_id) REFERENCES public.usuarios(id);


--
-- Name: recursos_pedagogicos recursos_pedagogicos_docente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recursos_pedagogicos
    ADD CONSTRAINT recursos_pedagogicos_docente_id_fkey FOREIGN KEY (docente_id) REFERENCES public.usuarios(id);


--
-- Name: recursos_pedagogicos recursos_pedagogicos_materia_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recursos_pedagogicos
    ADD CONSTRAINT recursos_pedagogicos_materia_id_fkey FOREIGN KEY (materia_id) REFERENCES public.materias(id);


--
-- Name: representantes_legales representantes_legales_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.representantes_legales
    ADD CONSTRAINT representantes_legales_id_fkey FOREIGN KEY (id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9NGogtGAVEoK0CwcYFhbncf0DzcUYgFlkzrxL081ONUEVieL4djuYyQWPiD34UA

